@model List<DataLayer.Entityes.Directory> 


    <div class="row">
        <div class="col-md-12">
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <h2>@item.Title</h2>
                        <ul>
                            @if (item.Material != null)
                            {
                                foreach (var material in item.Material)
                                {
                                    <li> @material.Title </li>
                                }

                            }

                        </ul>
                    </li>
                }

            </ul>
        </div>
    </div>